:root {
  --main-color: #eef1ff;
  --container-color: #ffffff;
  --title-text-color: #474aee;
  --result-color: #555;
  --button-color: #3ecf8e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--main-color);
  font-family: "Inter", "Segoe UI", Roboto, sans-serif;
  padding: 2rem;
}

.container {
  background: var(--container-color);
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.title {
  color: var(--title-text-color);
  font-size: 2rem;
  margin: 1rem;
}

.result {
  margin: 2.5rem;
  color: var(--result-color);
  font-size: 1.2rem;
}

input,
button {
  padding: 16px 20px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 1.3rem;
  margin: 0.5rem;
}

input {
  width: 450px;
}

button {
  color: var(--container-color);
  background: var(--button-color);
  cursor: pointer;
  transition: all 0.15s ease;
}

button:hover {
  box-shadow: 0 7px 14px rgba(29, 29, 54, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

ul {
  padding: 16px 20px;
  list-style-type: none;
  font-size: 1.5rem;
  color: var(--result-color);
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

ul:not(:empty) {
  background-color: var(--main-color);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .title {
    font-size: 3.5rem;
  }

  .result {
    font-size: 1.5rem;
  }

  .container {
    padding: 2rem;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }
}
