body {
  font-family: "Open Sans", sans-serif;
  background-color: #aad39ea8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.403);
  width: 600px;
}

main {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 10px;
}
