* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #667eea;
  padding: 25px;
}

.title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.subtitle {
  color: rgba(236, 235, 235, 0.9);
  text-align: center;
  font-size: 1.1em;
}

.user-card {
  background: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.user-card-title {
  color: rgb(102, 126, 234);
  font-size: 1.5em;
}

.user-count {
  color: rgb(117, 74, 161);
  font-size: 3em;
  font-weight: bold;
}
