:root {
  --main-color: #fdf5e5;
  --title-text-color: #924093;
  --subtitle-text-color: #a665f1;
  --main-text-color: #0c4e9f;
  --image: #903191;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--main-color);
  font-family: "Andale Mono", AndaleMono, monospace;
}

.title {
  color: var(--title-text-color);
  font-size: 4rem;
  text-align: center;
}

.sub-title {
  color: var(--subtitle-text-color);
  font-size: 2.5rem;
  text-align: center;
}

.section-title {
  color: var(--subtitle-text-color);
  padding-left: 3rem;
  font-size: 1.8rem;
  text-decoration: underline;
}

.main-text {
  color: var(--main-text-color);
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

.caption {
  font-size: 1rem;
  text-align: center;
  padding: 1.5rem;
}

.item {
  font-size: 1.2rem;
  line-height: 1.5;
  padding-left: 4rem;
  list-style-type: none;
  font-family: "Andale Mono", AndaleMono, monospace;
  color: var(--main-text-color);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px solid var(--image);
  padding: 0.5rem;
}
