:root {
  --Background: rgba(35, 16, 22, 0.302);
  --Default: #ffffff;
  --Gradient-background: linear-gradient(
    92.74deg,
    #fd7b46 1.15%,
    #fe4e9b 98.48%
  );
  --Gradient-text: linear-gradient(91.07deg, #fe4e9b 32.21%, #fd7b46 67.08%);
  --Titles: #000000;
  --Shadow: 8px 8px 20px 0px #0000004d;
  --Options: #939393;
  --Border: #fe4e9b;
  --Input: #f3f1f2;
}

body {
  margin: 0;
  background: var(--Background);
  min-height: 100vh;
}

.placeholder-top {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--Default);
}

.placeholder-title {
  font-weight: 700;
  font-size: 30px;
  padding: 1rem;
}

.placeholder-text {
  font-size: 20px;
  padding: 0;
}

.payment-container {
  max-width: 100%;
  margin: 0;
  padding: 2rem 0;
}

.order-summary {
  background: var(--Gradient-background);
  font-family: "Arial", sans-serif;
  font-size: 18px;
  text-align: center;
  color: var(--Default);
  padding: 16px;
}

.summary-title {
  font-weight: 700;
  font-size: 24px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.line {
  height: 1px;
  background-color: var(--Default);
  border: 0;
}

.form {
  background: var(--Default);
  display: flex;
  flex-direction: column;
}

.payment-method {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 3rem;
  border: none;
}

.title {
  padding: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--Titles);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--Shadow);
  border-radius: 10px;
  border: 4px solid transparent;
  cursor: pointer;
  transition: transform 0.5s ease, filter 0.3s ease;
  min-width: 50%;
  filter: grayscale(100%);
}

.cards:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  border-color: var(--Border);
}

.cards img {
  max-width: 80%;
  height: 2rem;
  display: block;
  padding: 1.5rem 1rem 0 1rem;
}

.cards input[type="radio"] {
  display: none;
}

.option {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: var(--Options);
  padding: 1rem;
}

.card-number {
  grid-area: number;
}

.exp-date {
  grid-area: date;
}

.sec-code {
  grid-area: code;
}

.card-info {
  display: grid;
  grid-template-areas: "number number" "date code";
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  border: none;
}

.card-info input {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  background: var(--Input);
  border: 1px solid var(--Options);
  margin: 5px 5px 5px 0;
}

.exp-date input[type="text"],
.sec-code input[type="text"],
.card-number input[type="text"] {
  font-weight: 400;
  font-size: 16px;
  padding: 1rem;
  box-sizing: border-box;
}

.card-number input[type="text"] {
  font-size: 16px;
}

.exp-date input[type="text"],
.sec-code input[type="text"] {
  font-size: 18px;
}

.card-number,
.exp-date,
.sec-code {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--Options);
}

.input-with-icon {
  position: relative;
}

.help-icon {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.button {
  display: block;
  width: calc(100% - 8rem);
  margin: 1rem auto;
  border: none;
  padding: 1rem;
  border-radius: 68px;
  background: var(--Gradient-background);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--Default);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.button:hover {
  transform: scale(1.1);
}

.help {
  font-family: "Arial", sans-serif;
  background: var(--Gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 1rem 2rem 2rem 2rem;
}

@media (min-width: 769px) {
  .payment-container {
    margin: 2rem 4rem;
  }

  .placeholder-title {
    font-weight: 400;
    font-size: 70px;
  }

  .placeholder-text {
    font-size: 24px;
  }

  .order-summary {
    text-align: left;
    padding: 16px;
  }

  .summary-title {
    font-size: 24px;
    font-weight: 700;
  }

  .total {
    font-weight: 400;
    font-size: 18px;
  }

  .strong {
    font-weight: 700;
  }

  .option {
    font-weight: 600;
    font-size: 18px;
  }

  .card-info {
    grid-template-areas: "number date code";
    grid-template-columns: 2fr 1fr 1fr;
  }

  .card-number,
  .exp-date,
  .sec-code {
    font-size: 18px;
  }

  .exp-date input[type="text"],
  .sec-code input[type="text"],
  .card-number input[type="text"] {
    font-size: 18px;
  }
}
